# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Models
dataset/
DIV2K_train_HR/
DIV2K_train_LR_unknown/
DIV2K_valid_HR/
DIV2K_valid_LR_unknown/
*.pth
!model_new.pth

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Flask (Temporary/Stateless)
static/uploads/
static/results/

# Screenshots (Included for Documentation)
!screenshots/
